.categories-container-all {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 10px;
  row-gap: 50px;
  margin-top: 10px;
  margin-bottom: 50px;
}

.category-title {
  font-size: 38px;
  margin-bottom: 20px;
  margin-top: 20px;
  text-align: center;
  text-transform: capitalize;
  background: rgb(243, 243, 243);
  padding: 10px;
}
